
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link href="~/Content/all.css" rel="stylesheet" />


<body onload="Slider();">
<div id="hdes">Welcome to Online Hotel Reservation Site.We are promised to provide  all kinds of facilities required by you.</div>
    
 <div id="birday">  Birthday<img src="~/Content/icon/dialog_question.png" width="80px"/></div>
<div id="divBirthDescription">You are warmly welcomed to celebrate birthday in our hotel</div>
<div id="ReserIcon">Reserve Seat <img src="~/Content/icon/1405880748_questionmark_48.png" width="50px"/>    </div>
<div id="ReserIcondescription">Please Feel free to reserve seat in our hotel to stay as long as you wish</div>
    
   <div class="slider" id="sl">
<img id="1" src="~/Images/slideImages/an.jpg" width="700"/>
<img id="2" src="~/Images/slideImages/hdining.jpg"  width="700" />
<img id="3" src="~/Images/slideImages/Photo055.jpg"  width="700"/>
<img id="4" src="~/Images/slideImages/ssdsd.jpg"  width="700"/>
    </div>

    </body>