@{
    ViewBag.Title = "Index";
}
<link href="~/Content/templatemo_style.css" rel="stylesheet" />
<div id="templatemo_container">

	<div id="templatemo_site_title_wrapper">
    
    	<div id="site_title">
            <h1>
                <a href="#" target="_parent">Admin Login
                <span id="t">Login to customise everything</span></a>
            </h1>
        </div>
    
    </div> 
    
	<div id="templatemo_banner">
    <div id="ue">
	
        
        
        

    </div>


    </div> 

        <div id="templatemo_menu">
            
    </div>
    </div> 

