@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

  <h2 style="font-family:Arial;color: red;background: white;border: 5px solid black;width: 100%;position: absolute;top: 20%;text-align: center ">An Unexpected  Error Occurred while Processing Your Request</h2>


