@{
    ViewBag.Title = "NotFound";
}

<h2 style="font-family:Arial;color: red;background: white;border: 5px solid black;width: 100%;position: absolute;top: 20%;text-align: center ">Your Requested URL Not Found.Please Check Your URL.It seeams You Entered a wrong URL</h2>
