@{
    ViewBag.Title = "Policies";

  Layout = "~/Views/Shared/_Layout.cshtml";
    
}
  

<div id="col">
    <u  id="policH">POLICIES:</u>
    <ul style="icon: initial">
   
        <li>Check in 12 hours.</li>
        <li> Check out 12 hours. </li>
        <li>Reservation needs to be made starlings form previous night.
        
        </li>
        <li> Goverment taxes & levies extra are applicable
            as person/bed.</li>
    </ul>

    <u id="policH">RESERVATION GURANTEE :</u>
    <ul type="circle">
        <li> All booking must be guaranteed at time of reservation bye money
            order or travel agency. 
        </li></ul>

    <u id="policH">RESERVATION CANCELLATION :</u>

    <ul type="square">
        <li>  Reservation must be cancelled 24 hours prior to the
            planned arrivaltime.</li>

    </ul>

    <u id="policH">Facalities :</u>
    <ul type="{B57E8C72-B141-43F5-8151-25CE3FA2D973}">
    
        <li>Slide projector </li>
        <li>LCD multimedia projector </li>
        <li>Computer system</li>
        <li>Internet access </li>
        <li>Laser pointer </li>
        <li>White board </li>
        <li>Conference kits</li>
        <li>Background system </li>
        <li>DJ system </li>
        <li>DVD,VCD,CD player</li>
        <li>Telephone & Television </li>
        <li>Security provided by Police</li>

    </ul>
</div>
    