@{
    ViewBag.Title = "RoomDeatils";
}

<div style="font-family: Arial">
    

<table border="2px">
    <tr>
        <td style="color:#6495ED;font-weight: bold;font-size: 21px">Room Type</td>
        <td colspan="2" style="text-align: center;color:#6495ED;font-weight: bold;font-size: 21px">Rent(Per day)</td>
<td style="color:#6495ED;font-weight: bold;font-size: 21px">Airconditioned</td>
        <td style="text-align: center;color:#6495ED;font-weight: bold;font-size: 21px">Image</td>
    
    </tr>
    <tr>
        <td>Standard</td>
          <td>6000 Taka(Double) </td>
         <td>5500 Taka(Single) </td>
        <td rowspan="4" style="text-align: center">24 Hours </td>
        <td>
            <img src="~/Images/slideImages/Photo055.jpg" style="width: 100px;height: 100px" />

        </td>
    </tr>
     <tr>
        <td>Suit</td>
          <td>5000 Taka(Double) </td>
         <td>4500 Taka(Single) </td>
         
            <td>
                <img src="~/Images/slideImages/ssdsd.jpg" style="width: 100px;height: 100px" />

        </td>
     </tr>
	  <tr>
        <td>Deluxi</td>
          <td>4000 Taka(Double) </td>
	      <td>3500 Taka(Single) </td>
             <td>
                 <img src="~/Images/deluxe.jpg" style="width: 100px;height: 100px" />

        </td>
    </tr>
	  <tr>
        <td>Delux</td>
          <td>3000 Taka(Double) </td>
	      <td>3200 Taka(Single) </td>
             <td>
         
                 <img src="~/Images/slideImages/delu.jpg" style="width: 100px;height: 100px"/>
        </td>
    </tr>
</table>

</div>


