@{
    ViewBag.Title = "SuccessfulMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="font-family: Arial;font-size: 22px;border: 11px solid black;padding: 10px;background: white;width: 50%;height: 250px;position: absolute;left: 19%;top: 15%;text-align: center">
    Thank You for Your Interest in our Hotel. Your <b>Reservation</b> Has Completed Successfully.
    We will soonly Contact You through Email untill then have a good time.
</div>

